$primaryColor: #9cc1ef73;
$mainBg: #5173ef;

html {
    background: $mainBg;
    height: 100vh;
}

#root {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
    padding-top: 4rem;
}

.form {
    display: flex;
    flex-direction: row;
    
    input {
        width: 211px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        height: 2rem;
        width: 13rem;
        border-radius: 0.3rem;
        border: none;
        font-size: 15px;
        font-weight: 700;
    }
    button {
        width: 50px;
        margin-right: auto;
        margin-left: auto;
        height: 2rem;
        width: 5rem;
        border-radius: 0.3rem;
        border: none;
        font-size: 15px;
        font-weight: 700;
        &:hover {
            background: #7fff00;
        }
        &:active {
            background: #3b7700;
        }
    }
}

.details {
    text-align: center;
    margin-top: 1rem;
    border-radius: 1rem;
    background: $primaryColor;

    p {
        font-size: 12px;
        // margin-top
    }
    
    h2 {
        margin: 0;
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
    div {
        display: block;

        img {
            width: 60px;
        }
    }

    h6 {
        margin-top: 10px;
    }
}